.ContactList {
  width: auto;

  margin: 0;
  padding: 0 0 0 40px;

  &__item:not(:first-child) {
    margin-top: 10px;
  }

  &__text {
    width: 300px;
    margin: 0;
    display: inline-block;
    margin-right: 30px;
  }

  &__button {
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;

    color: rgba(255, 255, 255, 0.5);
    background-color: #343a40;

    border-radius: 5px;

    &:hover {
      color: white;
      background-color: #bb281e;
    }
  }
}
